<!DOCTYPE html>
<html>
<head>
	<title>Leaflet Instagram CartoDB</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:image" content="route.png" />
	<link rel="stylesheet" href="static/lib/leaflet/leaflet.css" />
	<link rel="stylesheet" href="static/lib/cluster/MarkerCluster.css" />
	<link rel="stylesheet" href="static/Leaflet.Photo.css" />
	<link rel="stylesheet" href="static/css/map.css" />
</head>
<input type="../static/" id="selfile"><br>
<body>
	<form action='/comment' position="absolute">
		<input id="foodname" type="hidden" name="name" value="food1">
		<input id="picname" type="hidden" name="img">
		<input id="picture" type="hidden" name="pic" value={{ file_url }}>
		<input type='submit'>
	</form>
	<div id="map"></div>
	<script src="static/lib/reqwest.min.js"></script>
	<script src="static/lib/leaflet/leaflet.js"></script>
	<script src="static/lib/cluster/leaflet.markercluster.js"></script>
	<script src="static/Leaflet.Photo.js"></script>
	<script>

	var map = L.map('map', {center: [33.679720,130.468322], zoom: 15});
	L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/seamlessphoto/{z}/{x}/{y}.jpg', {
		attribution: "<a href='http://maps.gsi.go.jp/development/ichiran.html' target='_blank'>地理院タイル</a>"
	}).addTo(map);

	L.tileLayer('http://opencache.statkart.no/gatekeeper/gk/gk.open_gmaps?layers=norges_grunnkart&zoom={z}&x={x}&y={y}', {
		attribution: '&copy; <a href="http://kartverket.no/">Kartverket</a>'
	}).addTo(map);

	var photoLayer = L.photo.cluster().on('click', function (evt) {
		var photo = evt.layer.photo,
			template = '<img src="{url}" width="300" height="300" /></a><p>{caption}</p>';

		if (photo.video && (!!document.createElement('video').canPlayType('video/mp4; codecs=avc1.42E01E,mp4a.40.2'))) {
			template = '<video autoplay controls poster="{url}" width="300" height="300"><source src="{video}" type="video/mp4"/></video>';
		};

		evt.layer.bindPopup(L.Util.template(template, photo), {
			className: 'leaflet-popup-photo',
			minWidth: 300,
		}).openPopup();
	});

	//画像ファイルの中身を取得するvar form = document.forms.myform000000000000000000
	photoLayer.add([{"lat":{{ img_lat }},"lng":{{ img_lng }},"thumbnail":"{{ img_url }}","url":"{{ img_url }}","video":"","caption":"oishi banana"}]).addTo(map);
	photoLayer.add([{"lat":40.053148,"lng":150.892416,"thumbnail":"http://epoch.jp/rc/capsule/data/img/bananaobake_2.jpg","url":"http://epoch.jp/rc/capsule/data/img/bananaobake_2.jpg","video":"","caption":"oishi banana"}]).addTo(map);
	map.fitBounds(photoLayer.getBounds());

	</script>
</body>
</html>
