body{
    background-color: #EEE;
    color: #333;
    text-align:center;
    font-size: 12px;
}

h1{
    color: #dc8a07;
    font-size: 13px;
    padding: 10px 0 0 0;
}

h2{
    color: #00BFFF;
    font-size: 13px;
    padding: 10px 0 0 0;
}

div{
   border-radius: 6px;
   margin: 10px auto;
   padding: 20px;
}

#logo{
    width: 220px;
}

#app{
    background-color: white;
    width: 500px;
}